{% extends 'base.html' %}

{% block content %}
<div class="container mt-3">
    <h5 class="text-center">আমাদের কথা</h5><hr>
    <div class="row">
        <div class="col-md-6 mx-auto">
            <p>
                ovijogbangla24.com is a new Bangla news portals in Bangladesh. The online news portal has started its operations with the commitment of fearless, investigative, informative and neutral journalism.
            </p>

            <p>
                One can easily find latest news and top breaking headlines from Bangladesh and around the world within a short span of time from the online news portal.
            </p>

            <p>
                ovijogbangla.com, the Bangladesh’s leading online news portal, is updating 24/7 with entertainment, lifestyle, special reports, politics, economics, culture, education, information technology, health, sports, columns and features.
            </p>
        </div>
    </div>
</div>
{% endblock content %}