{% load static %}
  <nav class="navbar navbar-expand-lg bg-light shadow sticky-top">
      <div class="container-fluid">
        <a class="navbar-brand" href="{% url 'index' %}"><img src="{% static 'image/bangla.png' %}" width="250px" alt=""></a>
        <button class="navbar-toggler navbar-light" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mx-auto mb-2 mb-lg-0">
            {% for p in news_categorise %}
            {% if forloop.counter <= 11 %}
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="{% url 'news' name=p.name %}">{{ p.name }}</a>
            </li>
            {% endif %}
            {% endfor %}
          </ul>
        </div>
      </div>
    </nav>