{% extends 'base.html' %}

{% block content %}
<div class="container">
    <div class="col-md-8 mx-auto">
        <h5>Disclaimer</h5> <hr>
        <p>
            The content on this site, including news, quotes, data and other information, is provided “as is” by ovijogbangla24.com and its third party content providers for your personal information only, and is not intended for commercial use nor for trading or investing purposes. Content on this site is not appropriate for the purposes of making a decision to carry out a transaction or trade. Nor does it provide any form of advice (investment, tax, legal) amounting to investment advice, or make any recommendations regarding particular financial instruments, investments or products.
        </p>
        <p>
            ovijogbangla24.com  and its third party providers disclaims, to the fullest extent permitted by applicable law, all warranties, express or implied, including, without limitation, any implied warranties of merchantability, satisfactory quality or fitness of the information for a particular purpose. Neither ovijogbangla24.com  nor its third party providers shall be liable for any damages of any kind arising from the use of this site and its contents, in terms of their correctness, accuracy, timeliness and reliability or otherwise. Although ovijogbangla24.com  makes reasonable efforts to obtain reliable content from third parties, ovijogbangla24.com  does not guarantee the accuracy of or endorse the views or opinions given by any third party content provider. This site may point to other Internet sites that may be of interest to you; however ovijogbangla24.com  does not endorse or take responsibility for the content on such other sites.
        </p>
        <p>
            ovijogbangla24.com  does not warrant that this website or any of its functions will be uninterrupted or error-free. Users assume the entire cost of all necessary servicing, repair or correction due to their use of this website.
        </p>

        <h5>Privacy</h5><hr>
        <p>
            The personal data collected on this site, notably through electronic subscription forms, are for the exclusive use of ovijogbangla24.com , to the fullest extent permitted by applicable law, and cannot be disclosed or sold to third parties. The users of this site have the rights of access, opposition and correction of the data they have disclosed. As a result, user's personal data can be corrected, completed, updated or erased if required to the ovijogbangla24.com commercial service.
        </p>
        <p>
            ovijogbangla24.com makes reasonable efforts to implement technology and security features in order to safeguard the privacy of its users from loss, unauthorized access or improper use.
        </p>
        <p>
            ovijogbangla24.com may store your information in its databases, such as a Customer Relationship database, for reference. The information may be retained and used by ovijogbangla24.com for a reasonable period, reflecting our need to answer queries or resolve problems, provide improved and new services and any data retention requirements of the law. This means we may retain information after an individual has ceased interacting with us. ovijogbangla24.com does not sell, rent or give your personal data to any third party except where the law permits or unless you specifically agree.
        </p>
        <p>
            Users of the site are invited to inform ovijogbangla24.com services on any dysfunctions of the site in the light of privacy rights. In its capacity as a news agency, bdnews24.com gathers and stores what could be classified as personal data. This is used for news reporting, opinion polls and related research. This privacy notice does not focus on that type of use.
        </p>
        <p>
            Like most websites, ovijogbangla24.com .com also collects information through the use of “cookie” technology. Among other things, a cookie may identify your browser and store information such as the date and time you access the site and the pages visited.
        </p>
    </div>
</div>
{% endblock %}